{% extends "base.html" %} {% block titulo %}Iniciar Sessão{% endblock %} {% block conteudo %}

<div class="container mt-5">
  <div class="card shadow p-4 mx-auto" style="max-width: 500px">
    <h1 class="text-center mb-4">Iniciar Sessão</h1>

    <form method="POST">
      {{ form.hidden_tag() }} {% for field, errors in form.errors.items() %} {% for error in errors %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endfor %} {% endfor %}

      <div class="mb-3">{{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }}</div>

      <div class="mb-3">{{ form.senha.label(class="form-label") }} {{ form.senha(class="form-control") }}</div>

      <button type="submit" class="btn btn-purple-card w-100">Entrar</button>
    </form>

    <p class="text-center mt-3">
      Novo utilizador?
      <a href="{{ url_for('auth.registo') }}" style="color: var(--roxo-botao)">Criar conta aqui</a>
    </p>
  </div>
</div>

{% endblock %}
